<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/searchArtist" method="post">
      <input type="hidden" name="position" value="">
      <input type="text" name="search" value="" placeholder="search your artist">
    </form>
  </body>
</html>
