body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: black;
  height: 50px;
  width: 100vw;
}

h1 {
  color: #FFF;
}

.content {
  height: 100vh;
  width: 100vw;
  background: rgb(95,44,130);
  background: linear-gradient(90deg, rgba(95,44,130,1) 25%, rgba(74,160,157,1) 100%);
}

.card {
  width: 60%;
}

.logo {
  height: 40px;
  margin-right: 3%;
}

.name {
  color: #FFF;
}

.tag {
  color: #FFF;
  background-color: gray;
  border-radius: 80px;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
