<!DOCTYPE html>
<html>
  <head>
    <title>coucou</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>coucou</h1>
    <p>Welcome to coucou</p>
  </body>
</html>
