<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid p-0" style="height: 100%;">
      <div class="row m-0 d-flex justify-content-center" style="height: 100%;">
        <nav class="d-flex justify-content-around align-items-center mt-3">
          <h4>Bagls</h4>
          <a href="/bagels" class="btn btn-primary">Discover</a>
        </nav>
        <div class="content d-flex justify-content-center align-items-center">
          <h1>Home Page</h1>
        </div>
      </div>
    </div>
  </body>
</html>
