html {
    background-color: #F5F6FA;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.blockMessageCounter {
    border: 1px solid gray;
    display: flex;
    width: 50vw;
    background-color: #FFF;
}

.messageCounter {
    margin-left: 3%;
    font-weight: 500;
}

#number {
    margin-left: 1%;
    color: blue;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    width: 50vw;
    background-color: #FFF;
}

.name {
    margin: 0px;
}

.message {
    margin: 0px;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 2%;
}

.icon-trash {
    height: 15px;
    width: 15px;
    margin-right: 2%;
}