body{
  font-family: 'Darker Grotesque', sans-serif;
}

a, a:hover{
  color: white
}

#picture-header {
  background-image: url('/images/bike-background.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-bottom: 20px;
}

.card {
 margin-bottom: 20px;
}
.basket-img{
  width: 170px;
}
